*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: inherit;
    text-decoration: inherit;
}
body{
    background: #ffffff;
}
section, footer{
    padding: 60px 100px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0px;
    background: rgba(255, 255, 255, 0.171);
}
nav ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
nav ul li{
    list-style: none;
    color: black;
}
nav ul li:hover{
    border-bottom: 2px solid #FA8B02;    
}

nav ul li .active{
    border-bottom: 2px solid #FA8B02;
}
nav #arm-burger{
    display: none;
    color: black;
}
.logo{
    width: 60px;
}
.nav-login-container{
    display: flex;
    gap: 10px;
    color: black;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
}
.nav-login-container select{
    background: none;
    color: black;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}
.nav-login-container select option{
    color: black;
}

.nav-login-container .signup-btn{
    background: #FA8B02;
    padding: 4px 18px;
    border-radius: 20px;
    text-align: center;
}

.section1{
    display: flex;
    justify-content: space-between;
    background: url(./image/Rectangle\ 51.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section1 .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.section1 .left .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.section1 .left div{
    padding: 10px;
}
.section1 .left i{
    color: #FA8B02;
}
.section1 .left .call{
    background-color: #FA8B0233;
    border: 1px solid #FA8B02;
    border-radius: 12px;
}
.section1 .right form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff62;
    padding: 20px;
    border-radius: 10px;
}
.section1 .right .input-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.section1 .right form div{
    width: 100% !important;
}
.section1 input{
    font-size: .8rem;
    height: 35px;
    border: none;
    color: #333333;
    border-radius: 4px;
    padding: 8px 14px;
    width: 100% !important;
    margin-top: 6px;
}
.section1 select{
    /* display: block; */
    font-size: .8rem;
    height: 35px;
    border: none;
    color: #333333;
    border-radius: 4px;
    padding: 8px 14px;
    width: 100% !important;
    margin-top: 6px;
}
.section1 textarea{
    /* display: block; */
    font-size: .8rem;
    height: 100px;
    border: none;
    color: #333333;
    border-radius: 4px;
    padding: 8px 14px;
    width: 100% !important;
    margin-top: 6px;
}
.section1 .book-now-btn{
    background: #FA8B02;
    padding: 6px 18px;
    border-radius: 18px;
    color: white;
}
.map-section{
    background: url(./image/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    position: relative;
}
.map-section img{
    position: absolute;
    right: 40%;
    top: 190px;
    width: 50px;
}







footer{
    padding: 60px 100px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}
footer hr{
    border: 1px solid #ffffff4a;
    height: 0px;
    width: 100%;
}
footer .logo{
    width: 100%;
    display: flex;
    justify-content: start;
}
footer .logo img{
    width: 120px;
}
footer .content{
    display: flex;
    justify-content: space-between;
}
footer i{
    color: #FA8B02;
    transition: .8s all ease-in-out;
}
footer .social-media{
    display: flex;
    justify-content: center;
    gap: 20px;
}
footer .social-media i{
    background-color: #FA8B02;
    padding: 12px 14px;
    padding-right: 27px;
    color: black !important;
    border-radius: 100%;
    cursor: pointer;
}
footer .social-media i:hover{
    background-color: #333333;
    padding: 12px 14px;
    padding-right: 27px;
    color: #FA8B02 !important;
    border-radius: 100%;
}
footer h4{
    margin-bottom: 20px;
}

footer .copyright{
    text-align: center;
    font-size: .8rem;
}

footer .content p{
    margin-bottom: 10px;
}

@media (max-width: 1199.98px) {
    nav ul{
        display: none;
        position: absolute;
        background-color: white;
        padding: 20px;
        top: 90px;
        right: 40px;
    }
    nav ul li{
        color: black;
        margin-bottom: 10px;
    }
    nav #arm-burger{
        display: block;
        cursor: pointer;
        color: black;
        background-color: black;
        padding: 6px;
        border-radius: 10px;
    }
    section, footer{
        padding: 40px 40px !important;
    }
    footer .content{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    footer .logo{
        justify-content: center;
    }
    /* .map-section img{
        position: absolute;
        right: 370px;
        top: 190px;
        width: 50px;
    } */
}
@media (max-width: 768px) {    
    .section1{
        flex-direction: column;
        gap: 60px;
    }
}
@media (max-width: 564px) {
    section, footer{
        padding: 40px 20px !important;
    }
}